<aside>
  <div class="logo">
    <div class="logo-icon">
      <img src="../../assets/images/UIET-logo.png" alt="Logo" />
    </div>
    U.I.E.T
  </div>

  <nav>
    <a class="active">
      <i data-lucide="layout-dashboard" stroke-width="1.5"></i>
      Dashboard
    </a>
    <a>
      <i data-lucide="git-pull-request-arrow" stroke-width="1.5"></i>
      Resource Requests
    </a>
    <a>
      <i data-lucide="monitor" stroke-width="1.5"></i>
      Machines
    </a>
    <a>
      <i data-lucide="monitor-cog" stroke-width="1.5"></i>
      Machine Availability
    </a>

    <a>
      <i data-lucide="user" stroke-width="1.5"></i>
      Profile
    </a>

    <a href="https://aicentre.gitbook.io/maya-docs/" target="_blank">
      <i data-lucide="book-text" stroke-width="1.5"></i>
      User Manual
    </a>

    <div class="dummy"></div>
    <a>
      <i data-lucide="log-out" stroke-width="1.5"></i>
      Log out
    </a>
  </nav>
</aside>
