<div class="main about-us main-content hide-default">
  <div class="header">
    <h2 id="page-title">About This Project - Resource Management System</h2>
    <button id="theme-toggle" class="theme-toggle" title="Dark Mode">
      <i id="theme-icon" class="fa fa-moon"></i>
    </button>
  </div>

  <!--  -->
  <div class="about-container">
    <!--  -->

    <p class="about-text">
      The AI Data Center Resource Management platform is designed to make access to computing
      resources across the university easier and more efficient. It provides a central platform for
      students, teachers, and administrators to request, manage, and use lab machines, cloud
      instances, and software in a streamlined way.
    </p>

    <p class="about-text">
      The platform simplifies resource sharing by providing a clear dashboard, automated
      notifications, and a simple workflow for submitting and tracking requests.
    </p>

    <p class="about-text">
      Feedback and suggestions are welcome as the platform continues to evolve to meet the needs of
      its users.
    </p>
  </div>

  <!-- FOOTER -->

  <footer class="footer">
    <div class="contributor">
      <span>This is an Open Project &gt; Introduce a Feature &gt; Remove a Bug </span>
      <a href="https://github.com/AhlawatAnup/Resource-Management-System" target="_blank"
        >Become a Contributor</a
      >
    </div>

    <div class="thanks">
      <span class="text-muted">An Open Source Contribution, Under the Guidance of:</span>
      <span class="text-main"> Mr. Satish Verma </span>
      <span class="text-muted">
        Assistant Technical Officer, Department of Computer Science and Engineering, U.I.E.T, Panjab
        University
      </span>

      <span>In collaboration with</span>

      <div class="collaborator">
        <a href="https://uiet.puchd.ac.in/telelabs/" target="_blank">
          Telecommunication Research Laboratory (Telelabs)
        </a>
        <a style="color: black">and</a>
        <a href="https://menthosa.com/" target="_blank">Menthosa Solutions Pvt Ltd</a>
        <!-- <img src="/assets/images/logo_menthosa_white.png" alt="Menthosa Solutions" /> -->
      </div>

      <span class="text-muted">
        Designed, Developed and Maintained with ❤️ at Telelabs, U.I.E.T, Panjab University
      </span>

      <span class="text-muted">भारत में निर्मित</span>
    </div>
  </footer>

  <!-- -->
</div>
