<div class="left">
  <h2>Get Started!</h2>

  <h4>WELCOME!</h4>
  <form id="teacher_registration">
    <span class="text-muted">Register to access the UIET cloud data centre & services</span>
    <div class="rms-input-box-v2">
      <input id="fullName" type="text" required placeholder="" />
      <label>Full Name</label>
    </div>
    <div class="rms-input-box-v2">
      <input id="phone" type="text" required placeholder="" />
      <label>Mobile Number</label>
    </div>

    <div class="form-group">
      <select id="branch" name="branch" required>
        <option id="default" value="">Select Branch</option>
        <option value="cse">Computer Science</option>
        <option value="eee">Electrical and Electronics</option>
        <option value="mech">Mechanical</option>
        <option value="ece">Electronics and Communication</option>
        <option value="IT">Information Technology</option>
        <option value="biotech">Biotechnology</option>
        <option value="appliedsciences">Applied sciences</option>
      </select>
    </div>

    <div class="rms-btn-v1">
      <button id="submit-Btn">
        <i data-lucide="plus" stroke-width="1.5"></i>
        Create Your Account
      </button>
    </div>
  </form>
</div>
