<form id="teacher_registration">
  <div class="rms-input-box-v2" style="height: 60px; width: 312px">
    <input id="fullName" type="text" required placeholder=" " />
    <label>Enter Your Full Name(Eg.- Dr. Abc Xyz)</label>
  </div>
  <div class="rms-input-box-v2" style="height: 60px; width: 312px">
    <input id="email" type="text" required placeholder=" " />
    <label>Enter E-mail id(Eg.- xyz@pu.ac.in)</label>
  </div>
  <div class="rms-input-box-v2" style="height: 60px; width: 312px">
    <input id="phone" type="text" required placeholder=" " />
    <label>Enter Your phone number(Eg.- 1234567890)</label>
  </div>
  <div class="form-group">
    <select
      id="branch"
      name="branch"
      required
      style="
        height: 60px;
        width: 312px;
        background: unset;
        border: 1px solid #bdbdbd;
        border-radius: 0.6rem;
        color: #5d5d5d;
      "
    >
      <option value="">Select Branch</option>
      <option value="cse">Computer Science</option>
      <option value="eee">Electrical and Electronics</option>
      <option value="mech">Mechanical</option>
      <option value="ece">Electronics and Communication</option>
      <option value="IT">Information Technology</option>
      <option value="biotech">Biotechnology</option>
      <option value="appliedsciences">Applied sciences</option>
    </select>
  </div>
  <div>
    <button class="login-button" id="submit-Btn">SignUp</button>
  </div>
</form>
