.rms-input-box-v2 {
  position: relative;
  width: 100%;
  font-family: 'Rubik';

  input,
  textarea {
    width: 100%;
    padding: 16px 12px 8px;
    font-size: 1.4rem;
    border-radius: 0.6rem;
    outline: none;
    transition: all 0.3s ease;
    font-family: 'Rubik';
    color: black;
    background: unset;
    border: 1px solid #dbe3ee;
    resize: none;

    &:focus {
      border-color: #4a90e2;
      box-shadow: 0 0 8px rgba(74, 144, 226, 0.3);
    }

    &:focus ~ label,
    &:not(:placeholder-shown) ~ label {
      top: 0.4rem;
      left: 1rem;
      font-size: 1.2rem;
    }
  }

  input {
    height: 5.5rem;
  }

  textarea {
    min-height: 12rem;
    padding-top: 2rem;
  }

  label {
    position: absolute;
    top: 1.7rem;
    left: 1.2rem;
    color: #999;
    font-size: 1.4rem;
    pointer-events: none;
    padding: 0 0.4rem;
    transition: 0.2s ease all;
    font-family: 'Rubik';
  }

  span {
    position: absolute;
    top: 1.7rem;
    right: 1.2rem;
    color: #999;
    font-size: 1.4rem;
    pointer-events: none;
    padding: 0 0.4rem;
    transition: 0.2s ease all;
    font-family: 'Rubik';

    &.danger {
      color: red;
    }
  }
}
