<div class="main machine hide-default">
  <!-- Header -->
  <div class="header">
    <h2>All Machines</h2>

    <div style="display: flex; gap: 2px">
      <div class="rms-btn-v1">
        <button id="addMachineBtn">
          <i data-lucide="plus" stroke-width="1.5"></i>
          Add New Machine
        </button>
      </div>

      <button id="theme-toggle" class="theme-toggle" title="Dark Mode">
        <i id="theme-icon" class="fa fa-moon"></i>
      </button>
    </div>
  </div>
  <div class="rms-table"></div>
</div>
