<div class="main machine hide-default">
  <!-- Header -->
  <div class="header">
    <h2>All Machines</h2>

    <div style="display: flex; gap: 2px">
      <div class="rms-button rms-action-primary">
        <button id="addMachineBtn" type="button" aria-label="Add a machine">
          <i class="fas fa-plus"></i>
          Add Machine
        </button>
      </div>

      <button id="theme-toggle" class="theme-toggle" title="Dark Mode">
        <i id="theme-icon" class="fa fa-moon"></i>
      </button>
    </div>
  </div>
  <div class="rms-table"></div>
</div>
