 
    <div class="main machine hide-default">
      <!-- Header --> 
      <div class="header">
          <h2>All Machines</h2>
        
        <div>
          <button
            id="addMachineBtn"
            class="add-machine-btn"
            type="button"
            aria-label="Add a machine"
          >
            <i class="fas fa-plus"></i>
            Add Machine
          </button>

          <button id="theme-toggle" class="theme-toggle" title="Dark Mode">
            <i id="theme-icon" class="fa fa-moon"></i>
          </button>
        </div>
      </div>
       <div class="rms-table"></div>
    </div>