<div class="main hide-default">
  <!-- Top Navigation Bar -->
  <div class="header">
    <h2>Generate and View Reports</h2>

    <!-- Part B: Status Filter -->
    <div class="nav-section">
      <button class="status-btn-resources" data-status="all">
        <i data-lucide="notepad-text" stroke-width="1.5"></i>
        Combine
      </button>

      <button class="status-btn-resources active" data-status="active">
        <i data-lucide="graduation-cap" stroke-width="1.5"></i>
        By Teachers
      </button>

      <button class="status-btn-resources" data-status="upcoming">
        <i data-lucide="user-round" stroke-width="1.5"></i>
        By Students
      </button>
    </div>
    <div class="nav-actions">
      <button id="theme-toggle" class="theme-toggle" title="Dark Mode">
        <i id="theme-icon" class="fa fa-moon"></i>
      </button>
    </div>
  </div>

  <main>Coming Soon...</main>
</div>
