<aside>
  <div class="logo">
    <div class="logo-icon">
      <img src="../../assets/images/UIET-logo.png" alt="Logo" />
    </div>
    U.I.E.T
  </div>

  <nav>
    <a class="active">
      <i class="fas fa-home"></i>
      Dashboard
    </a>
    <a>
      <i class="fas fa-list"></i>
      New Request
    </a>
    <a>
      <i class="fas fa-desktop"></i>
      Alloted Requests
    </a>
    <a>
      <i class="fas fa-network-wired"></i>
      Machine Availability
    </a>

    <a>
      <i class="fas fa-info-circle"></i>
      About Us
    </a>

    <a href="https://aicentre.gitbook.io/aicentre-docs" target="_blank">
      <i class="fas fa-book"></i>
      User Manual
    </a>

    <div class="dummy"></div>
    <a>
      <i class="fas fa-sign-out-alt"></i>
      Log out
    </a>
  </nav>
</aside>
