.rms-btn-v1 {
  button {
    font-family: 'Rubik', sans-serif;
    color: white;
    background: #2563eb;
    padding: 1.1rem 1.8rem !important;
    border-radius: 0.8rem;
    font-size: 1.6rem;
    font-weight: 400;
    cursor: pointer;
    border: unset;

    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    transition: all 0.2s ease;

    &:hover {
      transform: scale(1.01);
    }

    svg {
      margin-right: 1.5rem;
      width: 22px;
      height: auto;
    }
  }
}
